.box{
     background-color: rgb(25, 126, 51);
     width:200px;
     height:75px ;
     padding: 20px;
     border-radius:10%;
    
 }
 .font{
     font-weight: bold;
     color: beige;
 
 }
 .number{
     display: flex; 
     color: beige;
    margin-top: 20%;
     justify-content:end;
     
 }